<main class="container container-list">
    <div class="title-container">
        <h1>Movies list</h1>

        <a href="/movies/new" class="btn">Add a new movie</a>
    </div>

    <ul class="list-items list-movies">
        {{#each movies}}
        <li>
            <a href="/movies/{{_id}}">
                <img src="{{poster}}" alt="Poster for {{ title }}">

                <span>
                    {{ title }}
                </span>
            </a>
        </li>
        {{/each}}
    </ul>
</main>
