<main class="container container-list">
    <div class="title-container">
        <h1>Hello, I'm the celebrities page!</h1>

        <a href="/celebrities/new" class="btn">New celebrity</a>
    </div>

    <ul class="cast-list">
        {{#each celebrities}}
        <li>
            <a href="/celebrities/{{_id}}">
                <img src="{{picture}}" alt="{{name}}">
                <span>
                    {{ name }}
                </span>
            </a>
        </li>
        {{/each}}
    </ul>
</main>






