<main class="container container-form">
    <a href="/celebrities">Back to celebrities list</a>

    <h1>Add a celebrity</h1>

    <form action="/celebrities" method="POST">
        <div class="item">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="item">
            <label for="occupation">Occupation</label>
            <input type="text" name="occupation" id="occupation">
        </div>

        <div class="item">
            <label for="catchPhrase">Catch phrase</label>
            <input type="text" name="catchPhrase" id="catchPhrase">
        </div>

        <div class="item">
            <label for="picture">Picture</label>
            <input type="text" name="picture" id="picture">
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn">Add new celebrity</button>
        </div>
    </form>
</main>
