/*=============================================== Variables ===============================================*/

:root {
    // Colors
    --blue: #008cbb;
    --light-blue: #00b7ff;
    --white: #fff;

    // Margins
    --margin-xxl: 48px;
    --margin-xl: 32px;
    --margin-l: 24px;
    --margin-m: 16px;
    --margin-s: 12px;
    --margin-xs: 8px;
    --margin-xxs: 4px;

    // Fonts
    --font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    --line-height: 1.5;

    // Border Radiuses
    --radius-xl: 16px;
    --radius-l: 12px;
    --radius-m: 8px;
    --radius-s: 4px;
    --radius-round: 99em;

    // Container
    --container-template: 1fr 800px 1fr;
    --container-column: 2;
    --container-padding: var(--margin-xxl) 0;

    @include tablet() {
        --container-template: 5vw 1fr 5vw;
    }

    // Transitions
    --transition-short: all 0.2s ease;
    --transition-long: all 0.5s ease;
}
