<main class="container-home">
    <h1>{{ title }}</h1>

    <div class="buttons-container">
        <a href="/movies" class="btn">Go to movies</a>
        <a href="/celebrities" class="btn">Go to celebrities</a>
    </div>
</main>
