<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{doctitle}} | Ironhack Movie Lab</title>
      <link rel="stylesheet" href="/css/style.min.css">
   </head>

   <body>
      <header>
         <a href="/">Home</a>

         <nav>
            <a href="/movies">Movies</a>
            <a href="/celebrities">Celebrities</a>
         </nav>
      </header>

      <div class="wrapper">
         {{{body}}}
      </div>
      
      

      <script src="/js/script.js"></script>
   </body>
</html>
